.banner-bottom {
    background-image:
        url('../../Assets/pose_2.png'),
        url('../../Assets/Ellipse\ 11.png');
    background-position: 50% 50%, 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 466px;
    height: 466px;
    position: relative;
}

.banner-button {
    position: absolute;
    transform: translate(-40px, 17rem)
}

.bottom-div {
    position: absolute;
    width: 250px;
    height: 133px;
    top: 447px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    transform: translate(130%, -70%)
}

.div-lower {
    width: 189px;
    height: 14px;
    margin-top: 5px;
    background: linear-gradient(90deg, rgba(45, 137, 255, 0.57) 0%, rgba(45, 137, 255, 0) 100%);
    border-radius: 50px;
}

.div-lowerr {

    width: 189px;
    height: 14px;
    margin-top: 5px;
    background: linear-gradient(90deg, rgba(45, 137, 255, 0.3) 0%, rgba(45, 137, 255, 0) 100%);
    border-radius: 50px;
}

.banner-filter {
    position: absolute;
    width: 440px;
    height: 440px;
    left: -9px;
    top: 331px;

    background: #90D4ED;
    filter: blur(800px);
}

.banner {
    /* position: absolute;
    width: 450px;
    height: 450px;
    left: 1062px;
    top: -180px;

    background-color: #90E2ED;
    filter: blur(800px); */
}